page-home {
    #logo{
      height: 40vh !important;
      width: auto !important;
    }
    #searchinput input{
      width: auto !important;
      text-transform: uppercase !important;
    }
    #sub{
      margin-top: 4vh;
    }
    #new{
      margin-top: 6vh;
    }
  }
  