// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
@font-face {
  font-family: 'DroidArabicKufiRegular';
  src: url("../assets/fonts/DroidKufi/DroidKufi-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

*:not(ion-icon) {
  font-family: 'DroidArabicKufiRegular', 'Roboto', 'Noto Sans' !important;
}
.center-txt *{
    text-align: center !important;
    direction: rtl !important;
}
.ctxt{
    text-align: center;
}
.ng-dirty.err .item-inner{
    color: red !important;
    border-bottom-color: #f53d3d !important; 
    -webkit-box-shadow: inset 0 -1px 0 0 #f53d3d !important;
    box-shadow: inset 0 -1px 0 0 #f53d3d !important;
}
button.err{
    background-color: red;
}
[icon-start] ion-icon{
    padding-left: 0.4em !important;
}